<h2>Lista de Tareas</h2>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary mb-2" routerLink="/ingresar-tarea">Agregar Tarea</button>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr class="text-center">
            <th>Id</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Prioridad</th>
            <th>Responsable</th>
            <th>Proyecto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of tareas" >
            <td>{{tarea.id}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.estado}}</td>
            <td>{{tarea.prioridad}}</td>
            <td>{{tarea.responsable.nombre}}</td>
            <td>{{tarea.proyecto.nombreProyecto}}</td>
            <td>
                <button class="btn btn-success me-2" (click)="editarTarea(tarea)">Editar</button>
                <button class="btn btn-danger" (click)="eliminarTarea(tarea)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<swal #exito title="¡Éxito!" icon="success" text="Registro eliminado."></swal>

