<h2>Lista de Responsables</h2>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary mb-2" routerLink="/ingresar-responsable">Agregar Responsable</button>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr class="text-center">
            <th>Id</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let responsable of responsables" >
            <td>{{responsable.id}}</td>
            <td>{{responsable.nombre}}</td>
            <td>{{responsable.puesto.nombrePuesto}}</td>
            <td>{{responsable.departamento.nombreDepartamento}}</td>
            <td>
                <button class="btn btn-success me-2" (click)="editarResponsable(responsable)">Editar</button>
                <button class="btn btn-danger" (click)="eliminarResponsable(responsable)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<swal #exito title="¡Éxito!" icon="success" text="Registro eliminado"></swal>
<swal #erroreliminar title="¡Error!" icon="warning" text="No se pudo eliminar el registro. El Responsable ya ha sido asignado a una Tarea"></swal>


